    <div class="navbar-desktop only-desktop">
      <div class="logo">
      <%= link_to "LA COCTELERA", "index.html"%>
      </div>
      <div>
        <ul class="list-inline">
          <%= link_to "HOME", "index.html"  %>
          <%= link_to "BARMEN", "/barmen.html"  %>
          <%= link_to "COCTELES", "/cocteles.html"  %>
        </ul>
      </div>
      <div class="btn-navbar">
          <%= link_to "reserva ahora", "form.html"  %>
      </div>
    </div>

